* {
	margin: 0;
	padding: 0;
}


p {
	color:red;
	margin: 20px;
	padding: 20px;
}

h3 {
	margin: 50px;
	text-align: center;
}

h2 {
	margin: 50px;
	text-align: center;
}

.parent {
	width: 400px;
	height: 400px;
	background: grey;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.child {
	width: 100px;
	height: 100px;
	background: red;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); //this is to edit the x-axis and y-axis
}

.main_container {
	background: lightpink;
	height: 500px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.main_container .con1 {
	margin: 10px;
	height: 100px;
	width: 100px;
	background: mintcream;
}
.main_container .con2 {
	margin: 10px;
	height: 100px;
	width: 100px;
	background: mintcream;
}
.main_container .con3 {
	margin: 10px;
	height: 100px;
	width: 100px;
	background: mintcream;
}