* {
    margin: 0px;
    padding: 0px;
}

.container {
    .content {
        .main {
            p {
                color: green;
            }
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                background-color: red;
                color: white;
            }
        }
    }
}

.header {

    .nav {
        background-image: url("../images/header_image.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 70px;

        .logo {

            img {
                height: 60px;
                padding: 10px;
            }
        }

        .list {
            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            li {
                padding: 10px;
                font-size: 18px;
            }
        }
    }
}

h2 {
    margin: 30px;
    text-align: center;
}

.products_conatainer {
    background-color: cyan;

    ul {
        list-style: none;

        li {

            .product {
                width: 300px;
                height: 400px;

                h5 {
                    text-align: center;
                }
                img {
                    width: 200px;
                }
            }
        }
    }
}